# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives :__
- List popular languages for Data Scientists
- List some commonly used libraries for Data Scientists
- Practice some basic arithmetic expressions using Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. matplotlib
2. pandas
3. scikitlearn

| Data Science Tools
| -------------
| Jupyter notebooks
| R studio
| VS code

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
#This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

## Author
Raemus Rampaul